body{
    background-color: white;
}

.contenu{
    display: flex;
    flex-direction: row;
}

.leftSided{
    width: 50vw;
    background-color: rgb(255, 0, 234);
    height: 90vh;
    border-right: wheat 2px solid;
    position: fixed;
    bottom: 0;
}
.rightSided{
    width: 50vw;
    height: 100vh;
}

.navbarFixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(7, 153, 185);
    height: 10vh;
    z-index: 1000;
}

.logo{
    color: #ffffff;
    margin-left: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Nerko One', cursive;
    font-weight: bolder;
    font-size: xxx-large;
}


.contact,.chat,.log{
    color: #ffffff;
    font-family: 'Nerko One', cursive;
    font-size: x-large;
    padding-right: 5px;
    padding-left: 5px;
    margin: 5px;
    text-transform: capitalize;
    text-decoration: none;
}

.contact:hover,.chat:hover,.log:hover{
    color: white;
    text-decoration: none;
}

.contact:active,.chat:active,.log:active{
    text-decoration: none;
}

.messages{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 8vh;
    width: 70vw;
    background-color: rgb(7, 153, 185);
    border-top-left-radius: 25px;
    z-index: 1000;

}

#textMessage{
    padding-top: 5px;
    min-width: 40vw;
    border-radius: 25px;
    border: none;
    height: 30px;
    z-index: 100;
}

.bouton{

    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    height: 35px;
    width: 100px;
}

.noAccount{
    width: 10vw;
    height: 10vh;
}

.signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.floatingCertif{
    height: 50vh;
    width: 40vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    min-width: 60%;
    border: #0799b9 5px solid;

}

.formulaire{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.titreSignUp{
    padding-bottom: 20px;
    color: white;
}

#send{
    margin: 10px;
}
#connection{
    margin: 10px;
}

.leftsided{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-right: 2px solid black;
}

.rightsided{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-left: black 1px solid;
}

.infos{
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    padding: 10px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#password, #username{
    border-radius: 20px;
    min-width: 50%;
    border: none;
}

.info{
    height: 100%;
}

.presentation{
    background-color: #ffffff;
    border-top-right-radius: 10px;
    height:30%;
    border-bottom: black 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text{
    font-family: 'Nerko One', cursive;
    font-size: x-large;
    font-weight: lighter;
}

.logoPresentation{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Nerko One', cursive;
    font-weight: bolder;
    font-size: xxx-large;
}

.already{
    margin-bottom: 20px;
    color: white;
}

.connection:hover{
    color: #0799b9;
}

.contenuContact{
    height: 90vh;
    bottom: 0;
}

.contenu{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.filAccueil{
    width: 60vw;
    z-index: 1;
    margin-bottom: 50px;
}

.boutonAfficher{
    position: fixed;
    bottom:10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.carte{
    height: 30vh;
}

.carteCommentaire{
    height: 25vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.3);

}

.card{
    margin: 10px;
}

.suppr{
    width: 150px;
}

#contacts{
    height: 90vh;
    margin-top: 10vh;
}

